@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400&family=Open+Sans&family=Taviraj:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300&display=swap');

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Grid layout */
.grid-container {
  display: grid;
  grid-template-columns: 120px 5fr;
  grid-template-rows: 120px 5fr 120px;
  background-color: #f4f2f4;
  width: 100%;
  min-height: 100vh;
}


.search {
  background-color: #FAE1E1;
  border-bottom: 1px solid #dabfba;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials {
  background-color: #FAE1E1;
  border-bottom: 1px solid #dabfba;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.language {
  background-color: #FAE1E1;
}

.footer {
  background-color: #f4f2f4;
}

.mainContent {
  background-color: #f4f2f4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navheader {
  background-color: #efd0ca;
}

/* Search button */

.search-icon-container {
  height: 25px;
  width: 25px;
}

/* Socials */

.socials-icon-container {
  height: 50px;
  width: 20px;
  margin-bottom: 100px;
  padding: 20px;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.socials-icon-container img {
  padding-top: 20px;
}

/* Navigation Bar */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15%;
}

.navbar-title {
  cursor: pointer;
  color: #333333;
  font-family: "Frank Ruhl Libre", sans-serif;
  font-weight: 300;

}

.nav-links {
  list-style: none;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  opacity: 0.8;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
  cursor: pointer;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #0088a9;
  
}

.buttons-header {
  display: inline-block;
}

.buttons-header img {
  height: 25px;
  width: 25px;
}

/* Main Content */

.container-1-main {
  padding-left: 15%;
  padding-top: 3%;
}

.container-2-main {
  background-image: url("../resources/images/mainpage3.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 18em;
  margin-right: 13%;
  margin-top: 20px;
}

.mainContent h1 {
  font-family: "Frank Ruhl Libre", sans-serif;
  padding-top: 50px;
  font-size: 45px;
  color: #333333;
  font-weight: 300;
}

.mainContent h3 {
  font-family: "Open Sans", sans-serif;
  color: #333333;
  opacity: 0.8;
  font-size: 20px;
  padding-bottom: 30px;
  font-weight: 100;
}

button {
  background-color: #755175;
  border: none;
  color: white;
  padding: 30px 90px;
  text-align: center;
  font-size: 16px;
}

#utforsk {
  font-size: 20px;
  font-family: 'Heebo', sans-serif;;
  letter-spacing: 2px;
  font-weight: 300;
}

.om-oss-container {
  padding-left: 15%;
  padding-top: 3%;
}



