@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400&family=Open+Sans&family=Taviraj:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300&display=swap');

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Grid layout */





.search {
  background-color: #FAE1E1;
  border-bottom: 1px solid #dabfba;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials {
  background-color: #FAE1E1;
  border-bottom: 1px solid #dabfba;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.language {
  background-color: #FAE1E1;
}

.footer {
  background-color: #f4f2f4;
}

.mainContent {
  background-color: #f4f2f4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

.navheader {
  background-color: #efd0ca;
}

/* Search button */

.search-icon-container {
  height: 25px;
  width: 25px;
}

/* Socials */

.socials-icon-container {
  height: 50px;
  width: 20px;
  margin-bottom: 100px;
  padding: 20px;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.socials-icon-container img {
  padding-top: 20px;
}

/* Navigation Bar */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #97A8A6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.navbar-title {
  cursor: pointer;
  color: #333333;
  font-family: "Frank Ruhl Libre", sans-serif;
  font-weight: 300;
  padding-right: 30px;

}

.nav-links {
  list-style: none;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  opacity: 0.8;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
  cursor: pointer;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
  display: block;
}

.buttons-header {
  display: inline-block;
}

.buttons-header img {
  height: 25px;
  width: 25px;
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #333333;
  border-radius: 10px;
}


/* Main Content */

.img-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url("../resources/images/mainpage.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

/*.container-2-main {
  background-image: url("../resources/images/mainpage3.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 15em;
  margin-right: 15%;
  margin-top: 20px;
  flex-shrink: 5;
}
*/

.mainContent h1 {
  font-family: "Frank Ruhl Libre", sans-serif;
  width: 100%;
  font-size: 30px;
  color: #333333;
  font-weight: 300;
  text-align: center;
  background-color: #f4f2f4;
  opacity: 0.8;
}

.velg-blomst-knapp{
  text-align: center;
  padding-top: 5rem;
}

.om-oss {
  font-family: "Open Sans", sans-serif;
  color: #333333;
  opacity: 0.8;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  background: #f4f2f4;
}

button {
  background-color: 
  #5C365C
  ;
  border: none;
  color: white;
  padding: 30px 60px;
  text-align: center;
  justify-content: center;
}

#utforsk {
  font-size: 20px;
  font-family: 'Heebo', sans-serif;;
  letter-spacing: 2px;
  font-weight: 300;
}

.om-oss-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url("../resources/images/mainpage.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}





/* mobile */

@media only screen and (max-width: 480px){
  
  .toggle-button {
    display: flex;
  }

  .nav-links {
    display: none;
  }

  .buttons-header {
    display: none;
  }

  .socials {
    display: none;
  }

  .search {
    display: none;
  }

  .language {
    display: none;
  }

}


/* desktop */ 

@media only screen and (min-width: 1280) {

  .grid-container {
    display: grid;
    grid-template-columns: 120px 5fr;
    grid-template-rows: 120px 5fr 120px;
    background-color: #f4f2f4;
    width: 100%;
    min-height: 100vh;
  }
}
