@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap");


* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #0a1f11;
}

.app {
  background-color: #feefe9;
}

body {
  margin: 0;
  padding: 0;
  background-color: #feefe9;
  width: 100%;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}
