/* @import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400&family=Open+Sans&family=Taviraj:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri&family=BioRhyme:wght@200&display=swap"); */
/* New font combination*/
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #0a1f11;
}

.app {
  background-color: #fce5ce;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fce5ce;
  width: 100%;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

a {
  text-decoration: none;
}



