@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400&family=Open+Sans&family=Taviraj:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri&family=BioRhyme:wght@200&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fcad53;
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  scroll-snap-align: start;
}
